
.todo {
  background-color: #333;
  /* height: 100vh; */
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

.encabezado {
  background-color: #98142E;
  color: whitesmoke;
  padding: 0.5%; 
  font-size: large;
  font-family: 'Roboto', sans-serif;
}
.subtitulo {
  font-size: xx-large;
  margin-left: 5%;
}
.leerArchivo {
  text-align: center;
  margin-top: 10%;  
  /* padding: 10%; */
}
.sel {
  margin-top: 3%;
}

.botones {
  margin-left: 8%;
}

.tabla-container {
  align-items: center;
  text-align: center;
}
.pie {
  background-color: grey;
  color: whitesmoke;
  padding: 0.5%; 
  font-size: smaller;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* .tabla-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-collapse: collapse;
  background-color: #333; 
  color: white; 
  text-align: center;
  border-bottom: 1px solid white;  */
/* } */
